1. 

En este ejercicio vas a trabajar con un clasificador binario. Para ello utilizarás el dataset usuarios_win_mac_lin.csv. Elimina del dataframe todas las filas que se correspondan con la clase valor "1". Encontrarás datos de navegación de usuarios dentro de una web (paginas, duración...) y tendrás que predecir desde qué sistema operativo viene el usuario.

Realiza el ejercicio con el nuevo dataframe (eliminando los 1s):

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (toca, modifica, prueba) las variables y comenta si hay alguna de ellas que, modificándola, mejore el porcentaje de acierto del problema.

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [2]:
#Importamos los datos
import pandas as pd

dataframe = pd.read_csv('./data/usuarios_win_mac_lin.csv')
dataframe.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

In [3]:
#Eliminamos los datos con clase 1
df = dataframe[dataframe['clase'] != 1]
df

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
165      13.0        1         7     42      0
166      12.0        1         2      6      0
167      13.0        1         3      9      0
168      13.0        1         7     28      0
169      12.0        1         6     18      0

[130 rows x 5 columns]

In [4]:
print(df['clase'].unique())

[2 0]

In [12]:
from sklearn.model_selection import train_test_split

#Dividimos los features y el target
X = df[['duracion', 'paginas', 'acciones', 'valor']]
y = df['clase']

#Conseguimos la parte de train y la parte de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 42)

In [13]:
from sklearn.linear_model import LogisticRegression

#Creamos el modelo
model = LogisticRegression(max_iter = 1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [14]:
#Predecimos los valores
prediction = model.predict(X_test)
prediction

array([0, 0, 2, 0, 2, 0, 2, 2, 2, 0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2,
       0, 2, 0, 2])

In [15]:
from sklearn.model_selection import train_test_split

#Dividimos los features y el target
X_1 = dataframe[['duracion', 'paginas', 'acciones', 'valor']]
y_1 = dataframe['clase']

#Conseguimos la parte de train y la parte de test
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size = .2, random_state = 42)

In [16]:
from sklearn.linear_model import LogisticRegression

#Creamos el modelo
model_2 = LogisticRegression(max_iter = 1000)
model_2.fit(X_train_1, y_train_1)

LogisticRegression(max_iter=1000)

In [18]:
#Comprobamos el score de los modelos
print(model.score(X_test, y_test))
print(model_2.score(X_test_1, y_test_1))

0.8461538461538461
0.6764705882352942