In [25]:
import numpy as np

alumnos_clase = ['Gonzalo', 'Gustavo', 'Olivier',
                'Pablo Chabbey', 'Pablo Faura', 'Alejandro',
                'Antonio', 'Ignacio', 'Kiko',
                'Yago', 'Julio', 'Laurent',
                'Miguel', 'Eva', 'Ana',
                'Angel', 'Oscar', 'Nieves',
                'Rafa', 'Jose']

def sorteo_par(alumnos):
    len_parejas = len(alumnos)
    couples = []
    
    for i in range(int(len_parejas/2)):
        uno = np.random.choice(alumnos, 1)[0]
        alumnos.remove(uno)

        dos = np.random.choice(alumnos, 1)[0]
        alumnos.remove(dos)

        couples.append((uno, dos))
        
    return couples, alumnos


couples, resto = sorteo_par(alumnos_clase)

if len(resto) > 0:
    pareja_elegida = np.random.randint(0, len(couples))
    couples[pareja_elegida] = couples[pareja_elegida] + (resto[0],)

    
print("PAREJAS DE ALUMNOS")
couples

PAREJAS DE ALUMNOS

[('Nieves', 'Jose'),
 ('Olivier', 'Laurent'),
 ('Pablo Faura', 'Rafa'),
 ('Oscar', 'Yago'),
 ('Ignacio', 'Julio'),
 ('Kiko', 'Miguel'),
 ('Angel', 'Alejandro'),
 ('Gonzalo', 'Gustavo'),
 ('Ana', 'Antonio'),
 ('Eva', 'Pablo Chabbey')]

In [7]:
alumnos_clase = ['Gonzalo', 'Gustavo', 'Olivier',
                'Pablo Chabbey', 'Pablo Faura', 'Alejandro',
                'Antonio', 'Ignacio', 'Kiko',
                'Yago', 'Julio', 'Laurent',
                'Miguel', 'Eva', 'Ana',
                'Angel', 'Oscar', 'Nieves',
                'Rafa', 'Jose']

import pandas as pd

df_clase = pd.DataFrame(alumnos_clase, columns=['Clase'])
df_clase.sample(frac = 1).reset_index(drop=True)

            Clase
0           Julio
1           Angel
2           Oscar
3       Alejandro
4          Nieves
5            Kiko
6         Gustavo
7            Jose
8         Laurent
9   Pablo Chabbey
10        Antonio
11        Ignacio
12           Rafa
13        Olivier
14            Ana
15    Pablo Faura
16            Eva
17        Gonzalo
18         Miguel
19           Yago

In [7]:
alumnos_clase = ['Gonzalo', 'Gustavo', 'Olivier',
                 'Pablo Faura', 'Alejandro',
                'Antonio', 'Ignacio', 'Kiko',
                'Yago', 'Julio', 'Laurent',
                'Miguel', 'Eva', 'Ana',
                'Angel', 'Oscar', 'Nieves',
                'Rafa', 'Jose']

import pandas as pd

df_clase = pd.DataFrame(alumnos_clase, columns=['Clase'])
df_clase = df_clase.sample(frac = 1).reset_index(drop=True)

horas = ['Lunes 12:00', 'Lunes 12:15', 'Lunes 12:30',
         
         'Lunes 15:00', 'Lunes 15:15', 'Lunes 15:30', 'Lunes 15:45',
        
        'Martes 9:00', 'Martes 9:15', 'Martes 9:30', 'Martes 9:45',
        'Martes 10:00', 'Martes 10:15', 'Martes 10:30', 'Martes 10:45',
        'Martes 11:00', 'Martes 11:15', 'Martes 11:30', 'Martes 11:45']

df_clase['hora presentacion'] = pd.Series(horas)
df_clase

          Clase hora presentacion
0       Antonio       Lunes 12:00
1        Miguel       Lunes 12:15
2          Yago       Lunes 12:30
3          Kiko       Lunes 15:00
4           Ana       Lunes 15:15
5   Pablo Faura       Lunes 15:30
6          Rafa       Lunes 15:45
7        Nieves       Martes 9:00
8       Ignacio       Martes 9:15
9       Gonzalo       Martes 9:30
10        Julio       Martes 9:45
11    Alejandro      Martes 10:00
12          Eva      Martes 10:15
13        Angel      Martes 10:30
14         Jose      Martes 10:45
15      Laurent      Martes 11:00
16      Olivier      Martes 11:15
17      Gustavo      Martes 11:30
18        Oscar      Martes 11:45