## Trabajo EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/heart_data.csv')

In [3]:
df.head()

,TCI,TCSC,exp,expmod,cm,cvbin,frqbin,abin,kurt,vfleak,...,x1,x2,bCP,bWT,bW,Li,count1,count2,count3,VF
0,360.08,42.933,60,135,0.109620,0.15281,1.75,812,0.23413,0.65476,...,0.52618,0.003299,0.258,0.48395,2.1362,49.342,19.25,73.75,8.0208,0
1,333.41,54.733,120,150,0.149490,0.19259,2.25,740,-0.64581,0.45448,...,0.61896,0.002891,0.220,0.32814,1.5259,28.785,45.00,89.25,25.8700,0
2,359.18,46.600,90,180,0.169420,0.23900,3.00,606,0.26447,0.61511,...,0.56023,0.005732,0.302,0.34270,1.8921,32.381,28.50,78.25,13.4750,0
3,416.67,41.867,0,135,0.119590,0.15029,1.75,816,0.65061,0.65536,...,0.50644,0.003233,0.288,0.47740,1.8311,16.677,28.50,77.50,13.6130,0
4,544.08,49.333,120,120,0.099658,0.16490,2.00,792,-0.14313,0.61120,...,0.28983,0.003547,0.266,0.48095,2.0142,12.484,24.75,74.75,10.5270,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9146 entries, 0 to 9145
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TCI     9146 non-null   float64
 1   TCSC    9146 non-null   float64
 2   exp     9146 non-null   int64
 3   expmod  9146 non-null   int64
 4   cm      9146 non-null   float64
 5   cvbin   9146 non-null   float64
 6   frqbin  9146 non-null   float64
 7   abin    9146 non-null   int64
 8   kurt    9146 non-null   float64
 9   vfleak  9146 non-null   float64
 10  M       9146 non-null   float64
 11  A1      9146 non-null   float64
 12  A2      9146 non-null   float64
 13  A3      9146 non-null   float64
 14  mav     9146 non-null   float64
 15  psr     9146 non-null   float64
 16  hilb    9146 non-null   float64
 17  SamEn   9146 non-null   float64
 18  x3      9146 non-null   float64
 19  x4      9146 non-null   int64
 20  x5      9146 non-null   float64
 21  x1      9146 non-null   float64
 22  x2      9146 non-null   float64
 23  bCP     9146 non-null   float64
 24  bWT     9146 non-null   float64
 25  bW      9146 non-null   float64
 26  Li      9146 non-null   float64
 27  count1  9146 non-null   float64
 28  count2  9146 non-null   float64
 29  count3  9146 non-null   float64
 30  VF      9146 non-null   int64
dtypes: float64(26), int64(5)
memory usage: 2.2 MB

In [5]:
df.describe()

,TCI,TCSC,exp,expmod,cm,cvbin,frqbin,abin,kurt,vfleak,...,x1,x2,bCP,bWT,bW,Li,count1,count2,count3,VF
count,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,...,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000,9146.000000
mean,504.320221,26.311054,86.337743,145.712880,0.153696,0.182451,2.793489,727.499344,6.194699,0.709490,...,0.524501,0.064652,0.581557,0.234248,5.008640,25.916175,24.271731,74.598759,11.240366,0.170129
std,262.511975,20.286627,74.512381,66.011499,0.055616,0.063978,1.310632,126.400750,5.669886,0.167951,...,0.195080,0.066675,0.261768,0.183484,2.433811,19.471469,9.173761,14.051281,8.418466,0.375767
min,121.520000,2.266700,0.000000,15.000000,0.029897,0.015760,0.000000,500.000000,-1.618400,0.114860,...,0.103090,0.000227,0.030000,0.013999,0.244140,1.004900,9.500000,39.500000,1.999400,0.000000
25%,297.872500,10.533000,30.000000,90.000000,0.109620,0.152180,1.750000,624.000000,0.690283,0.662507,...,0.388305,0.010427,0.346000,0.096473,3.356900,9.047500,17.750000,64.000000,5.608250,0.000000
50%,436.110000,17.333000,75.000000,135.000000,0.149490,0.202680,2.500000,718.000000,6.123800,0.771580,...,0.499795,0.047565,0.662000,0.177870,5.188000,22.549000,22.750000,72.500000,8.789250,0.000000
75%,631.140000,42.450250,120.000000,195.000000,0.189350,0.234860,3.750000,813.000000,9.218200,0.824950,...,0.621315,0.088832,0.796000,0.327258,6.713900,38.808500,27.750000,83.500000,13.360000,0.000000
max,1861.200000,83.867000,450.000000,375.000000,0.358770,0.250250,8.750000,984.000000,57.369000,0.917030,...,0.993650,0.323140,0.948000,1.084600,11.536000,103.180000,83.000000,123.750000,78.707000,1.000000