# SQL con Pandas

In [1]:
import sqlite3
import pandas as pd

## Conexión con la base de datos

In [2]:
#Creamos la conexión a la bbdd
conn = sqlite3.connect('chinook.db')

In [3]:
#Creamos un cursor para interactuar con la bbdd
cursor = conn.cursor()

In [4]:
for row in cursor.execute('SELECT * FROM GENRES;'):
    print(row)

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
(11, 'Bossa Nova')
(12, 'Easy Listening')
(13, 'Heavy Metal')
(14, 'R&B/Soul')
(15, 'Electronica/Dance')
(16, 'World')
(17, 'Hip Hop/Rap')
(18, 'Science Fiction')
(19, 'TV Shows')
(20, 'Sci Fi & Fantasy')
(21, 'Drama')
(22, 'Comedy')
(23, 'Alternative')
(24, 'Classical')
(25, 'Opera')
(90, 'hola')

## Queries

In [5]:
df = pd.read_sql_query('SELECT * FROM GENRES;', conn)
df

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera
25       90                hola

In [6]:
df.to_sql('genres', conn, if_exists='replace', index=False)

In [8]:
df_add = pd.DataFrame({'GenreId':[27], 'Name':'Trap'})
df_add

   GenreId  Name
0       27  Trap

In [9]:
df_add.to_sql('genres', conn, if_exists='append', index=False)

In [11]:
df_guitar_hero = pd.read_sql_query("SELECT * FROM GENRES \
                                   WHERE NAME IN ('Rock','Metal','Rock And Roll','Heavy Metal');", conn)
df_guitar_hero

   GenreId           Name
0        1           Rock
1        3          Metal
2        5  Rock And Roll
3       13    Heavy Metal

In [12]:
df_guitar_hero.to_sql('guitar_hero_genres', conn, if_exists='replace', index=False)

In [15]:
df_result = pd.read_sql_query('SELECT * FROM guitar_hero_genres;', conn)
df_result

   GenreId           Name
0        1           Rock
1        3          Metal
2        5  Rock And Roll
3       13    Heavy Metal

## Finalizar la conexión

In [17]:
conn.close()