## Ejercicio 1
Importa la libreria de pandas. ¿Qué versión de la librería tienes?

In [2]:
import pandas as pd
pd.__version__

'1.2.5'

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [3]:
df = pd.read_csv("laliga.csv")

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [11]:
df.head(4)

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [6]:
df.values

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [9]:
list(df.columns)

['Unnamed: 0',
 'season',
 'division',
 'round',
 'localTeam',
 'visitorTeam',
 'localGoals',
 'visitorGoals',
 'date',
 'timestamp']

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`. Créalo de dos maneras diferentes.

Madrid: 6685471

Galicia: 2698764

Murcia: 1494442

Andalucía: 8446561

In [10]:
print(df['localTeam'])

0       Atletico de Bilbao
1                   Alaves
2                 Valencia
3       Atletico de Madrid
4                    Cadiz
               ...
4935            Villarreal
4936    Atletico de Bilbao
4937             Barcelona
4938              Valencia
4939    Atletico de Madrid
Name: localTeam, Length: 4940, dtype: object

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

Tasas de paro

Madrid: 9.99

Galicia: 11.74

Murcia: 16.08

Andalucía: 20.8

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

Madrid: 8028

Galicia: 29575

Murcia: 11314

Andalucía: 87599

## Ejercicio 12
Calcula en una nueva columna la densidad de población (hab/km^2)